In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv(
    "https://raw.githubusercontent.com/MicrosoftDocs/ml-basics/master/data/daily-bike-share.csv"
)
data

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,rentals
0,1,1/1/2011,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331
1,2,1/2/2011,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131
2,3,1/3/2011,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120
3,4,1/4/2011,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108
4,5,1/5/2011,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,727,12/27/2012,1,1,12,0,4,1,2,0.254167,0.226642,0.652917,0.350133,247
727,728,12/28/2012,1,1,12,0,5,1,2,0.253333,0.255046,0.590000,0.155471,644
728,729,12/29/2012,1,1,12,0,6,0,2,0.253333,0.242400,0.752917,0.124383,159
729,730,12/30/2012,1,1,12,0,0,0,1,0.255833,0.231700,0.483333,0.350754,364
730,731,12/31/2012,1,1,12,0,1,1,2,0.215833,0.223487,0.577500,0.154846,439

In [5]:
data.dtypes

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
rentals         int64
dtype: object

In [7]:
data.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
rentals       0
dtype: int64

In [8]:
import random

In [11]:
ix = [(row, col) for row in range(data.shape[0]) for col in range(data.shape[-1] - 1)]

for row, col in random.sample(ix, int(round(0.1 * len(ix)))):
    data.iat[row, col] = np.nan

In [12]:
data.isnull().sum()

instant       78
dteday        71
season        73
yr            74
mnth          76
holiday       71
weekday       67
workingday    77
weathersit    62
temp          81
atemp         77
hum           78
windspeed     65
rentals        0
dtype: int64

In [13]:
data.sample(20)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,rentals
602,603.0,8/25/2012,NaN,1.0,8.0,0.0,6.0,NaN,2.0,0.661667,0.618696,0.712917,0.244408,1829
674,675.0,NaN,4.0,1.0,NaN,0.0,1.0,1.0,1.0,0.319167,0.308075,NaN,0.236325,378
481,482.0,4/26/2012,2.0,1.0,4.0,0.0,4.0,1.0,2.0,NaN,0.483583,0.756667,0.176625,475
298,299.0,10/26/2011,4.0,0.0,10.0,0.0,3.0,NaN,2.0,NaN,0.472846,0.720417,0.148642,404
389,390.0,1/25/2012,1.0,1.0,1.0,0.0,3.0,1.0,1.0,0.294167,0.294821,0.643750,0.161071,467
50,51.0,2/20/2011,1.0,0.0,2.0,0.0,NaN,0.0,1.0,0.285217,0.277330,0.407826,0.223235,639
156,157.0,6/6/2011,2.0,0.0,6.0,0.0,1.0,1.0,1.0,0.678333,0.621858,0.600000,NaN,673
59,60.0,3/1/2011,1.0,0.0,3.0,0.0,2.0,1.0,1.0,0.266667,0.263879,0.535000,0.216425,137
573,574.0,7/27/2012,3.0,NaN,7.0,0.0,5.0,1.0,1.0,0.781667,0.734217,0.594583,0.152992,1259
610,611.0,9/2/2012,3.0,1.0,9.0,0.0,0.0,0.0,2.0,0.696667,0.649000,0.815000,0.064071,2613
633,634.0,9/25/2012,4.0,1.0,9.0,0.0,2.0,1.0,1.0,0.550000,0.544179,0.570000,0.236321,845
307,308.0,11/4/2011,4.0,NaN,11.0,0.0,5.0,1.0,2.0,0.403333,0.403392,0.622500,0.271779,470
33,NaN,2/3/2011,1.0,0.0,NaN,0.0,4.0,1.0,1.0,0.186957,0.177878,NaN,0.277752,61
325,326.0,11/22/2011,4.0,0.0,11.0,0.0,2.0,1.0,3.0,0.416667,0.421696,0.962500,0.118792,69
441,442.0,3/17/2012,1.0,1.0,3.0,0.0,6.0,0.0,NaN,0.514167,0.505046,0.755833,NaN,3155
107,108.0,4/18/2011,2.0,0.0,NaN,0.0,1.0,1.0,1.0,0.512500,0.503146,NaN,0.163567,669
183,184.0,7/3/2011,3.0,0.0,7.0,0.0,0.0,0.0,2.0,0.716667,0.668575,0.682500,0.228858,2282
584,585.0,8/7/2012,3.0,1.0,8.0,0.0,2.0,1.0,NaN,NaN,NaN,0.703750,NaN,1278
10,11.0,1/11/2011,1.0,NaN,NaN,0.0,2.0,1.0,2.0,0.169091,0.191464,0.686364,0.122132,43
21,22.0,1/22/2011,1.0,0.0,1.0,0.0,6.0,0.0,1.0,0.059130,0.079070,0.400000,0.171970,93

In [14]:
data = data[
    [
        "season",
        "mnth",
        "holiday",
        "weekday",
        "workingday",
        "weathersit",
        "temp",
        "atemp",
        "hum",
        "windspeed",
        "rentals",
    ]
]

In [15]:
data

,season,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,rentals
0,1.0,1.0,0.0,6.0,0.0,2.0,0.344167,0.363625,NaN,0.160446,331
1,1.0,1.0,0.0,0.0,0.0,2.0,0.363478,0.353739,0.696087,0.248539,131
2,1.0,1.0,0.0,1.0,1.0,1.0,0.196364,0.189405,0.437273,NaN,120
3,1.0,1.0,0.0,2.0,1.0,1.0,0.200000,0.212122,0.590435,0.160296,108
4,1.0,1.0,0.0,3.0,1.0,1.0,0.226957,NaN,0.436957,NaN,82
...,...,...,...,...,...,...,...,...,...,...,...
726,1.0,12.0,0.0,4.0,1.0,2.0,0.254167,0.226642,0.652917,0.350133,247
727,1.0,12.0,NaN,5.0,1.0,2.0,0.253333,0.255046,0.590000,0.155471,644
728,1.0,12.0,0.0,6.0,0.0,2.0,0.253333,0.242400,0.752917,0.124383,159
729,1.0,12.0,0.0,0.0,NaN,1.0,0.255833,0.231700,0.483333,NaN,364
730,NaN,12.0,0.0,1.0,1.0,2.0,0.215833,0.223487,0.577500,0.154846,439

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X = data.drop(columns=["rentals"])
y = data["rentals"]

x_train, x_test, y_train, y_test = train_test_split(
    X, y, test_size=0.20, random_state=123
)

In [2]:
from sklearn.preprocessing import StandardScaler, OrdinalEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline